<% if cached_recently_viewed_products.any? %>
  <div id="recently_viewed" class="mt-16" data-hook>
    <h2 class="text-lg font-medium text-gray-900 product-details-carousel-text"><%= Spree.t(:recently_viewed_products) %></h2>
    <%= render 'spree/shared/carousel_4_products', id: "recently-viewed-products-container", products: cached_recently_viewed_products %>
  </div>
<% end %>
