<!-- Recently viewed products -->
<div id="recently-viewed-products-js" data-hook></div>
<script>
  $(document).ready(function(){
    Spree.fetch_recently_viewed_products('<%= @product.try(:id) %>');
  });
</script>
